body{
    margin: 0;
    padding: 0;
    list-style: none;
    background-image: url('../img/bg4.png');
    background-attachment: fixed;
}

/* NAV BAR - ESTILOS */
.bg-transparente{
    background-color: rgba(9, 10, 30, .8);
}
.navbar-brand{
    margin-right: 30px;
}
.navbar-nav{
    align-items: center;
}
.nav-link{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.navbar-toggler{
    border: 1px solid #7FD0E1;
    padding: 8px 15px;
}
.fa-bars{
    color: #f3b155;
    font-weight: bold;
}
.btn-user{
    border: 1px solid #7FD0E1;
    color: #7FD0E1;
    padding: 5px 30px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 5px;
}

.btn-user:hover{
    border: 1px solid #7FD0E1;
    color: rgba(9, 10, 30, .8);
    background-color: #7FD0E1;
    transition: ease 0.5s;
}

.rede-social-menu{
    color: #EE961A;
    /* margin-left: 10px; */
    font-size: 1.2em;
    padding: 0px 20px;
    margin-top: 20px;
}

.rede-social-menu:hover{
    color: rgba(9, 10, 30, .8);
    background-color: #EE961A;
    border-radius: 5px;
    transition: ease 0.5s;
}
